.App {
  text-align: center;
  overflow: hidden;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


.button {
  margin: 20% auto;
  background-color: #FFFFFF;
  border: none;
  /* border-radius: 50px; */
  color: #ff5000;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
  /* position: absolute; */
  /* top: 50%; */
  min-height:30px; 
  min-width: 120px;
}

.button:hover {
  background-color: #ff5000;
  color: #FFFFFF;
  transition-duration: 0.2s;
}
a {
  text-decoration: none;
  font-family: 'Yu Gothic', 'Arial Narrow', Arial, sans-serif;
}

.image-layover {
  width: 100%;
  height: 35%;
  background-image: url('../public/img/skillet.jpg');
  background-color: #f1f1f1;
  background-blend-mode: screen;
  background-size: 100%;
  display: block;
}

.fade-in-section {
  opacity: 0;
  transform: translateY(20vh);
  height: 100%;
  min-height: 100%;
  visibility: hidden;
  transition: opacity 0.6s ease-out, transform 1.2s ease-out;
  will-change: opacity, visibility;

  /* position: absolute; */
  left: 0;
  width: 100%;
  overflow: hidden;
}
.fade-in-section.is-visible {
  height: 100%;
  opacity: 1;
  transform: none;
  visibility: visible;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
